Repository nusnewob/kube-changejob: changes, and which Codecov flags are due for each by the changed paths.
All: controller, cmd, webhook, crd

codecov.yml:

coverage:
  status:
    project:
      default:
        paths:
          - internal/**/*.go
      cmd:
        paths:
          - cmd/**/*.go
flags:
  controller:
    paths:
      - internal/**/*.go
  cmd:
    paths:
      - cmd/**/*.go
component_management:
  individual_components:
    - name: controller
      component_id: controller
      paths:
        - internal/controller/**/*.go
        - internal/config/**/*.go
    - name: webhook
      component_id: webhook
      paths:
        - internal/webhook/**/*.go
    - name: cmd
      component_id: cmd
      paths:
        - cmd/**/*.go
    - name: crd
      component_id: crd
      paths:
        - api/**/*.go

chore: update github action triggers allow manual run
  .github/workflows/lint.yml
  .github/workflows/pre-release.yml
  .github/workflows/test-chart.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test.yml
Due: none

test(refactor): refactor e2e tests to use k8s go client instead of kubectl, improve speed and efficiency
  test/e2e/e2e_test.go
Due: none

chore: reduce unnecessary rbac permission for watched resources
  config/rbac/role.yaml
  dist/chart/templates/rbac/manager-role.yaml
  dist/install.yaml
  internal/controller/changetriggeredjob_controller.go
Due: controller

fix: always update status during controller reconcile
  internal/controller/changetriggeredjob_controller.go
Due: controller

chore: add webhook validation for spec.cooldown value
  internal/webhook/v1alpha/changetriggeredjob_webhook.go
Due: controller, webhook

fix: bug 2 unsafe json.Marshal ordering
  go.mod
  go.sum
  internal/controller/util.go
Due: controller

test: add tests to improve test coverage
  internal/controller/changetriggeredjob_controller_test.go
  internal/controller/util_test.go
  internal/webhook/v1alpha/changetriggeredjob_webhook_test.go
Due: controller, webhook

chore: remove duplicate docs
  RELEASE_SUMMARY.md
Due: none

chore: cleanup and improve github pipelines
  .github/workflows/lint.yml
  .github/workflows/test-chart.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test.yml
Due: none

fix: fix release pipeline to update CHANGELOG.md
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

fix: indexing namespace and cluster scoped resources
  internal/controller/util.go
Due: controller

fix: codecov config
  .github/workflows/test.yml
  README.md
  codecov.yml
Due: none

fix: preallocating array to fix golangci-lint error
  internal/controller/changetriggeredjob_controller.go
Due: controller

fix: kubebuilder upgrade confilicts
  .github/workflows/lint.yml
  Makefile
  config/crd/bases/triggers.changejob.dev_changetriggeredjobs.yaml
  dist/chart/templates/cert-manager/metrics-certs.yaml
  dist/chart/values.yaml
  go.mod
  go.sum
  internal/webhook/v1alpha/changetriggeredjob_webhook.go
  internal/webhook/v1alpha/changetriggeredjob_webhook_test.go
  test/e2e/e2e_suite_test.go
  test/utils/utils_test.go
Due: controller, webhook

chore: bump version to v0.1.0
  dist/chart/Chart.yaml
Due: none

fix: cleanup github release pipeline and changelog
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

chore: update dependabot config
  .github/dependabot.yml
Due: none

fix: fix typos
  api/v1alpha/changetriggeredjob_types.go
  config/crd/bases/triggers.changejob.dev_changetriggeredjobs.yaml
  dist/chart/templates/crd/changetriggeredjobs.triggers.changejob.dev.yaml
  dist/install.yaml
Due: crd

chore: remove scripts not used
  hack/create-release.sh
Due: none

chore: add typos check to pipelines
  .github/workflows/lint.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix: use git-cliff to generate changelog for releasee pipeline
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  cliff.toml
  typos.toml
Due: none

fix: fix test-chart pipeline
  .github/workflows/test-chart.yml
Due: none

chore(release): update CHANGELOG.md and Helm Chart for release v0.1.1
  CHANGELOG.md
  dist/chart/Chart.yaml
Due: none

Revert "chore(deps): bump golang from 1.25 to 1.26"
  Dockerfile
Due: none

fix: fix kubebuilder v4.12.0 upgrade unit test error
  test/utils/utils_test.go
Due: none

fix: fix kubebuilder v4.12.0 upgrade conflict
  Makefile
  dist/chart/Chart.yaml
  dist/chart/templates/crd/changetriggeredjobs.triggers.changejob.dev.yaml
  test/e2e/e2e_test.go
Due: none

(chore) initial scaffold from release version: v4.13.0
  .github/workflows/lint.yml
  PROJECT
  dist/chart/templates/cert-manager/metrics-certs.yaml
  dist/chart/templates/cert-manager/selfsigned-issuer.yaml
  dist/chart/templates/cert-manager/serving-cert.yaml
  dist/chart/templates/crd/changetriggeredjobs.triggers.changejob.dev.yaml
  dist/chart/templates/manager/manager.yaml
  dist/chart/templates/metrics/controller-manager-metrics-service.yaml
  dist/chart/templates/rbac/changetriggeredjob-admin-role.yaml
  dist/chart/templates/rbac/changetriggeredjob-editor-role.yaml
  dist/chart/templates/rbac/changetriggeredjob-viewer-role.yaml
  dist/chart/templates/rbac/controller-manager.yaml
  dist/chart/templates/rbac/leader-election-role.yaml
  dist/chart/templates/rbac/leader-election-rolebinding.yaml
  dist/chart/templates/rbac/manager-role.yaml
  dist/chart/templates/rbac/manager-rolebinding.yaml
  dist/chart/templates/rbac/metrics-auth-role.yaml
  dist/chart/templates/rbac/metrics-auth-rolebinding.yaml
  dist/chart/templates/rbac/metrics-reader.yaml
  dist/chart/templates/webhook/mutating-webhook-configuration.yaml
  dist/chart/templates/webhook/validating-webhook-configuration.yaml
  dist/chart/templates/webhook/webhook-service.yaml
  dist/chart/values.yaml
  test/utils/utils.go
Due: none

fix(tests): fix cert-manager version in tests
  test/utils/utils_test.go
Due: none

chore: add release-drafter to github action workflow
  .github/release-drafter.yml
  .github/workflows/pre-release.yml
Due: none

fix: fix conflicts and other upgrade issues
  .custom-gcl.yml
  go.mod
  test/utils/utils_test.go
Due: none

chore: use latest version of golangci-lint and modernize in makefile
  Makefile
Due: none

fix: fix go modernize suggestions
  api/v1alpha/changetriggeredjob_types_test.go
  internal/controller/changetriggeredjob_controller_test.go
  internal/controller/util.go
  internal/webhook/v1alpha/changetriggeredjob_webhook_test.go
Due: controller, webhook, crd

fix: simplify pointer vars in tests
  api/v1alpha/changetriggeredjob_types_test.go
Due: crd

fix: fix `&scheme.Builder` deprecation
  api/v1alpha/changetriggeredjob_types.go
  api/v1alpha/groupversion_info.go
  api/v1alpha/groupversion_info_test.go
  go.mod
  go.sum
Due: crd

fix: resolve conflicts
  Makefile
  README.md
  api/v1alpha/changetriggeredjob_types.go
  api/v1alpha/groupversion_info.go
  api/v1alpha/zz_generated.deepcopy.go
  cmd/main.go
  dist/chart/values.yaml
  go.mod
  internal/controller/changetriggeredjob_controller.go
  internal/controller/changetriggeredjob_controller_test.go
  internal/controller/suite_test.go
  internal/webhook/v1alpha/changetriggeredjob_webhook.go
  internal/webhook/v1alpha/changetriggeredjob_webhook_test.go
  internal/webhook/v1alpha/webhook_suite_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/utils/utils.go
  test/utils/utils_test.go
Due: controller, cmd, webhook, crd

fix: fix upgrade borked chart values.yaml
  dist/chart/values.yaml
Due: none

fix(docs): fix typo
  CHANGELOG.md
Due: none
