Repository nusnewob/kube-changejob: changes, and which Codecov flags are due for each by the changed paths.
All: controller, cmd

fix: fix conflicts
  Makefile
  dist/chart/values.yaml
  go.mod
  go.sum
Due: none

fix: lint error
  api/v1alpha/groupversion_info_test.go
  internal/controller/util.go
Due: controller

fix(lint): lint const
  api/v1alpha/changetriggeredjob_types_test.go
  api/v1alpha/groupversion_info.go
  api/v1alpha/groupversion_info_test.go
  cmd/main.go
  cmd/main_test.go
  internal/controller/changetriggeredjob_controller_test.go
  internal/controller/test_constants_test.go
  internal/controller/util_test.go
  internal/webhook/v1alpha/changetriggeredjob_webhook_test.go
  test/utils/utils_test.go
Due: controller, cmd

fix(docs): typo
  CHANGELOG.md
Due: none

fix: kubebuilder auto-update pipeline
  .github/workflows/auto_update.yml
Due: none

fix: resolve conflicts
  .custom-gcl.yml
  .dockerignore
  .golangci.yml
  Makefile
  PROJECT
  cmd/main.go
  config/crd/bases/triggers.changejob.dev_changetriggeredjobs.yaml
  config/default/manager_webhook_patch.yaml
  config/network-policy/allow-metrics-traffic.yaml
  config/network-policy/allow-webhook-traffic.yaml
  dist/chart/templates/_helpers.tpl
  dist/chart/templates/cert-manager/serving-cert.yaml
  dist/chart/templates/crd/changetriggeredjobs.triggers.changejob.dev.yaml
  dist/chart/templates/manager/manager.yaml
  dist/chart/templates/network-policy/allow-metrics-traffic.yaml
  dist/chart/templates/network-policy/allow-webhook-traffic.yaml
  dist/chart/templates/prometheus/controller-manager-metrics-monitor.yaml
  dist/chart/templates/rbac/controller-manager.yaml
  dist/chart/values.yaml
  dist/install.yaml
  internal/controller/changetriggeredjob_controller.go
  internal/controller/suite_test.go
  internal/webhook/v1alpha/changetriggeredjob_webhook_test.go
  internal/webhook/v1alpha/webhook_suite_test.go
  test/utils/utils.go
Due: controller, cmd

fix: cert-manager version for tests
  test/utils/utils_test.go
Due: none

Path conditions:
  controller: any of: internal/
  cmd: any of: cmd/
